nav {
  /*padding: top, right, bottom, left */
  padding: 15px 0 30px 10px;
  background-color: #e495f0;
  color: black;
}

nav a:link, a:visited{
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: black;
}

/* home page recipes layout */
img {
  width: 500px;
}

p>img {
  object-fit: cover;
  height: 100vh;
}

/* ?? BORDER DOES NOT INCLUDE ALL OF GRID */
.three-by-two-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  /* grid-template-rows: repeat(2, auto); */
  grid-gap: 50px;
  border: 1px dashed black;
  height: auto;
}

.grid-item {
  border: 1px solid red;
}

/* Ingredients Table */
table, th, td, tr{
  text-align: left;
}

th, td, tr{
  padding: 10px;
}

th {
  background-color:#e495f0;
  color: white;
}

tr:nth-child(odd){
  background-color: plum;
  color: black;
}

/* Footer */
footer {
  position: relative;
  top: 100px;
  /*padding: top, right, bottom, left */
  padding: 15px 0 15px 10px;
  background-color:#e495f0;
  color: white;
}
