<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <title>
    {% comment %} {{ recipe_object.title }} {% endcomment %}
    Create
  </title>
</head>
<body>
  <link rel="stylesheet" href="{% static "css/recipes.css" %}">
  <header>
    <nav>
      <a href="{% url 'recipe_list' %}">Home Page</a>
    </nav>
    <!-- create a bottom border / line -->
  </header>
  <main>
    <h2>Create a Recipe</h2>
    <!--is it "post" or "get"?-->
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button>Create</button>
    </form>
  </main>
  <footer>
    <p>Made with love by Scrumptious Recipes</p>
  </footer>
</body>
</html>
