{% extends 'base.html' %}

{% block title %}
    {{ recipe_object.title }} -
    Scrumptious Recipes
{% endblock title %}

{% block content %}
<body>
  <header>
    <nav>
      <a href="{% url 'recipe_list' %}">Home Page</a>

    </nav>
    <!-- create a bottom border / line -->
  </header>
  <main>
    <h1>{{recipe_object.title}}</h1>
    <div>

      <img src="{{recipe_object.picture}}">
      <p>{{recipe_object.rating}}</p>
    </div>

    <div>
      <h3>Ingredients</h3>
      <table>

        <thead>
            <tr>
              <th> Amount </th>
              <th> Food Item </th>
            </tr>
        </thead>

        <tbody>
          {% for ingredient in recipe_object.ingredients.all %}
            <tr>
              <td> {{ ingredient.amount }} </td>
              <td> {{ ingredient.food_item }} </td>
            </tr>
          {% endfor %}
        </tbody>

      </table>
    </div>

    <div>
      <h3>Steps</h3>
      <ol>
        <!--Enter steps-->
        {% for step in recipe_object.steps.all %}
          <li> {{ step.instruction }} </li>
        {% endfor %}
      </ol>
    </div>
  </main>
{% endblock content%}
