{% extends 'base.html' %}

{% block title %}
    {% comment %} {{ recipe_object.title }} {% endcomment %}
    Create
{% endblock title %}

{% block content %}
  <header>
    <nav>
      <a href="{% url 'recipe_list' %}">Home Page</a>
    </nav>
    <!-- create a bottom border / line -->
  </header>
  <main>
    <h2>Create a Recipe</h2>
    <!--post = create new instance-->
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button>Create</button>
    </form>
  </main>
{% endblock content%}
