{% extends 'base.html' %}

{% block title %}
    Scrumptious Recipes
{% endblock title %}


{% block content %}
  <header>
    <nav>
      <a href="{% url 'recipe_list' %}">Home Page</a>
      {% if user.is_authenticated %}
        <a href="{% url 'create_recipe' %}">Create Recipe</a>
        <a href="{% url 'my_recipe_list' %}">My recipes</a>
      {% endif %}

      <!--if user is valid return Hello, username-->
      {% if user.is_authenticated %}
        <!--HOW does it know to use 'user' from accounts.views?-->
        Hello, {{ user.username }}
      <!--else return signup webpage-->
      {% else %}
        <a href="{% url 'signup'%}">Sign up</a>
      <!--end conditional-->
      {% endif %}

      {% if user.is_authenticated == False %}
        <a href="{% url 'user_login' %}">Login</a>
      {% else %}
        <a href="{% url 'user_logout' %}">Logout</a>
      {% endif %}
    </nav>
  </header>

  <main>
    <h1> Scrumptious Recipes </h1>
    <h2> All the food that's fit to eat! </h2>
    <div>
      {% for recipe in recipe_list %}
      <div>
        <p>posted {{ recipe.created_on|date:"M d, Y" }}</p>
        <div>
          <h3>
            <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
            <a href="{% url 'edit_recipe' recipe.id %}">Edit Recipe</a>
          </h3>
          <p> <img src="{{ recipe.picture|default:"https://via.placeholder.com/150" }}"> </p>
        </div>
        <div>{{ recipe.rating }}</div>
      {% empty %}
          <p> There are no recipes. </p>
      </div>
      {% endfor %}
    </div>
  </main>
{% endblock content %}
