/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

nav {
   /*padding: top, right, bottom, left*/
  padding: 15px 0 30px 10px;
  background-color: pink;
}

nav a:link{
  color: white;
  text-decoration: none;
}

nav a:visited{
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: black;
}

/* home page layout */
img {
  box-sizing: border-box;
  object-fit: cover;
  height: 250px;
  width: 250px;
}

.my-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  border: 5px solid red;
}


/*
Ingredients Table
table, th, td, tr{
  text-align: left;
}

th, td, tr{
  padding: 10px;
}

th {
  background-color:#e495f0;
  color: white;
}

tr:nth-child(odd){
  background-color: plum;
  color: black;
} */


footer {
  position: relative;
  top: 100px;
  /*padding: top, right, bottom, left */
  padding: 15px 0 15px 10px;
  background-color:pink;
  color: white;
  position: 20px;
}
